<ul>
 
<h2><%= @current_user["name"] %> (<i><%=@current_user["user_id"] %></i>)</h2>
<%= link_to "Logout\n", "/logout" %> <%= link_to "Refresh\n", {:controller => "e2gather", :action => 'loginFacebook'}%>
<hr>
<ul>
<!--
<br>
<b>Find</b>
<%= form_tag("ingre", method: "post") do %>
    <div><%= text_field_tag :my_input %></div>
    <div><%= submit_tag "Find E2gathers"%></div>
<% end %>
-->
<h3>
<table border="3" cellpadding="10" cellspacing="10">
<tr>
  <td><b>Friends</b></td>
  <td><b>Ingredients</b></td>
  <td><b>Events</b></td>
</tr>


<tr>
<td>
  <table border="1" cellpadding="3" cellspacing="3">
    <tr>
      <td><b>Name</b></td>
      <td><b>Message</b></td>
    </tr>
    <% session[:friend_list].each do |f| %>
     <tr>
       <td><%= f['name'] %></td>
       <td><%= button_to "Send Message", {:controller => "e2gather", :action => "sendmail", :method => :post, :id => f['id'] }%></td>
     </tr>
    <% end %>
  </table>
</td>


<td>
  <table border="1" cellpadding="3" cellspacing="3">
    <tr>
      <td><b>Name</b></td>
      <td><b>Actions</b></td>
    </tr>
    <% @ingredient_list.each do |i| %>
    <tr>
      <td><%= i.name %> </td>
      <td><%= link_to "View",{:controller => "e2gather", :action => 'show_ingredient', :id => i.id} %></td> 
    </tr>
  <% end %>
</table>
<br>
<%= form_tag("render_ingredient_page", method: "get") do %>
  <div><%= submit_tag "Add Ingredient" %></div>
<% end %>
</td>

<td>
  <table border="1" cellpadding="3" cellspacing="3">
   <tr>
     <td><b>Event</b></td>
     <td><b>Location</b></td>
     <td><b>Time</b></td>
     <td><b>Actions</b></td>
   </tr>
    <% @event_list.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td><%= e.location %></td>
      <td><%= e.date_time %></td>
      <td style="width:100px;"><%= link_to "Check", {:controller => "events", :action => "view_event_page", :e_id => e.id }%> 
        <br>
	   <%= link_to_if (e.guest_list == "") &&(e.host==@user_name), "Pick Guests", {:controller => "e2gather", :action => "pick_guest_page", :e_id => e.id }%></td>
    </tr>
    <% end %>
  </table>
  <br>
  <%= form_tag("render_event_page", method: "get") do %>
    <div><%= submit_tag "Create New Event" %></div>
  <% end %>
</td>
</tr>
</table>
</h3>
<!--<% session[:friend_list].each do |f| %>-->
<!--<%= f["name"] %> (<i><%=f["id"] %></i>)<hr>-->
<!--<% end %>-->
</ul>
 
