<% provide(:title, "New User Event") %>
<h1>New User Event</h1>
<div class = row>
  <div class="span6 offset3">
    <%= form_tag({:controller => "e2gather", :action => "create_user_event"}, :method=>"post") do %>

      <b>Name</b>
      <br> 
      <%= text_field_tag(:name) %>
      <br> 
      <br>
      <b>Location</b>
      <br> 
      <%= text_field_tag(:location) %>
      <br>
      <br>
      <b>Date and Time</b>
      <br> 
      <%= datetime_select(:date_time, "", :default => Time.now , :discard_second => true) %>
      <%= hidden_field :status, :value => "Pending" %>
      <br>
      <br>
      <div>
      <b>Ingredients</b>
      <table>
        <tr>
		  <td><%= label_tag("Ingredients") %></td>
		  <td><%= text_field_tag(:ingredient1)%></td>
		  <td><%= text_field_tag(:q1)%></td>
		</tr>
		 <tr>
		  <td><%= label_tag("Ingredients") %></td>
		  <td><%= text_field_tag(:ingredient2)%></td>
		  <td><%= text_field_tag(:q2)%></td>
 		</tr>
	   <tr>
		  <td><%= label_tag("Ingredients") %></td>
		  <td><%= text_field_tag(:ingredient3)%></td>
		  <td><%= text_field_tag(:q3)%></td>
		</tr>
		   
      </table>
      </div>
      <br>
      <%= submit_tag "Create event", :class => "btn btn-large btn-primary" %>
    <% end %>
	
	         
		  

 
 
  </div>
</div>

<style type="text/css">
input, textarea, {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

select, .uneditable-input {
  border: 1px solid #bbb;
  width: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
<style>
