<% provide(:title, "New Ingredient") %>
<h1>New Ingredient</h1>
<div class = "field">
  <div class="span6 offset3">
    <%= form_tag({:controller => "e2gather", :action => "create_ingredient"}, :method=>"post") do %>    

    <%=label_tag(:name, "name") %>
    <%= text_field_tag(:name) %>
   
    <%= label_tag(:quantity, "Quantity") %>
    <%= text_field_tag(:quantity) %>
 

    <%= label_tag(:unit, "Unit") %>
    <%= text_field_tag(:unit) %>


    <%= submit_tag "submit" %>
  <% end %>
  </div>
</div>

