<% provide(:title, "New User Event") %>
<h1>New User Event</h1>
<div class = row>
  <div class="span6 offset3">
    <%= form_tag({:controller => "e2gather", :action => "create_user_event"}, :method=>"post") do %>

      <b>Name</b>
      <%= text_field_tag(:name) %>
      
      <b>Location</b>
      <%= text_field_tag(:location) %>

      <b>Date and Time</b>
      <%= datetime_select(:date_time, "", :default => Time.now , :discard_second => true) %>

      <%= hidden_field :status, :value => 1 %>

      <div>
      <b>Ingredients for this event</b>
      <table>
        <tr>
          <td><%= label_tag("Add ingredient") %></td>
          <td><%= text_field_tag(:ingredient1)%></td>
        </tr>
        <tr>
          <td><%= label_tag("Add ingredient")%></td>
          <td><%= text_field_tag(:ingredient2)%></td>
        </tr>
        <tr>
          <td><%= label_tag("Add ingredient") %></td>
          <td><%= text_field_tag(:ingredient3)%></td>
        </tr>
      </table>
      </div>

      <div>
      <b>Guests for this event</b>
      <table>
        <tr>
          <td><%= label_tag("Add guest") %></td>
          <td><%= text_field_tag(:guest1)%></td>
        </tr>
        <tr>
          <td><%= label_tag("Add guest")%></td>
          <td><%= text_field_tag(:guest2)%></td>
        </tr>
        <tr>
          <td><%= label_tag("Add guest") %></td>
          <td><%= text_field_tag(:guest3)%></td>
        </tr>
      </table>
      </div>

      <%= submit_tag "Create event", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<style type="text/css">
input, textarea, {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

select, .uneditable-input {
  border: 1px solid #bbb;
  width: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
<style>
