<h1><%= @ingredient.name %></h1>
<p><strong> Quantity :</strong> <%= @ingredient.quantity %><br />
<strong>Unit :</strong> <%= @ingredient.unit %><br />
<strong>Created Date:</strong> <%= @ingredient.created_at %><br />
</p>
<hr />
<%= link_to 'Back', {:action => 'loginFacebook'} %>
<%= link_to 'Edit', {:controller => "e2gather", :action => "edit_ingredient"} %>
<%= link_to 'Delete',{:controller => "e2gather", :action => "delete_ingredient"} %>
