<h1><%= @ingredient.name %></h1>
<div class = "field">
  <div class="span6 offset3">
<p>
  <strong> Quantity :</strong> <%= @ingredient.quantity %>
</p>
  <br>
<p>
  <strong>Unit :</strong> <%= @ingredient.unit %>
</p>
  <br>
<p> 
  <strong>Created Date:</strong> <%= @ingredient.created_at %>
</p>
<br>

<p>
  <%= form_tag({:controller => "e2gather", :action => "loginFacebook"}, :method=>"get") do %>
  <%= submit_tag 'Back'%>
  <% end %>
  <%= form_tag({:controller => "e2gather", :action => "edit_ingredient"}, :method=>"get") do %>
  <%= submit_tag 'Edit' %>
  <% end %>
  <%= form_tag({:controller => "e2gather", :action => "delete_ingredient"}, :method=>"get") do %>
  <%= submit_tag 'Delete' %>
  <% end %>
</p>
  </div>
</div>
