<h1>Listing ingredients</h1>

<table>
  <thead>
    <tr>
<!--      <th>Ingredient_id</th>-->
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit</th>
<!--      <th>User</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
<!--        <td><%= ingredient.ingredient_id %></td> -->
        <td><%= ingredient.name %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.unit %></td>
<!--        <td><%= ingredient.user_id %></td>-->
        <td><%= link_to 'Show', ingredient %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { 
          confirm: 'Delete '+ingredient.name+'?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
