<% provide(:title, "New User Event") %>
<h1>New Event</h1>
<div class = row>
  <div class="span6 offset3">
    <%= form_tag({:controller => "e2gather", :action => "create_user_event"}, :method=>"post") do %>
      <b><%= label_tag(:name, "Name") %></b>
      <%= text_field_tag(:name) %>
      <br>
      <b><%= label_tag(:location, "Location") %></b>
      <%= text_field_tag(:location) %>
      <br>
      <b><%= label_tag(:date_time, "Date and Time") %></b>
      <br>
      <%= datetime_select(:date_time, "", :default => Time.now , :discard_second => true) %>

      <%= hidden_field :status, :value => 0 %>

      <div>
      <b><%= label_tag(:ingredient_list, "Ingredients") %></b>
      <table>
        <tr>
          <td><%= label_tag("Add ingredient") %></td>
          <td><%= text_field_tag(:ingredient)%></td>
        </tr>
      </table>
      </div>

      <div>
      <b><%= label_tag(:guest_list, "Guests") %></b>
      <table>
        <tr>
          <td><%= label_tag("Add guest") %></td>
          <td><%= text_field_tag(:guest1)%></td>
        </tr>
        <tr>
          <td><%= label_tag("Add guest")%></td>
          <td><%= text_field_tag(:guest2)%></td>
        </tr>
        <tr>
          <td><%= label_tag("Add guest") %></td>
          <td><%= text_field_tag(:guest3)%></td>
        </tr>
      </table>
      </div>

      <%= submit_tag "Create event", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<style type="text/css">
input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

select, .uneditable-input {
  border: 1px solid #bbb;
  width: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
<style>
