<% provide(:title, "Check Event") %>
<h1>View Event: <%= @current_event.name %></h1>

<table>
  <tr>
    <td><b>Host: </b></td>
    <td><%= @current_event.host %></td>
  </tr>
  <tr>
    <td><b>Guests: </b></td>
    <td><%= @current_event.guest_list %></td>
  </tr>
  <tr>
    <td><b>Ingredients: </b></td>
    <td><%= @current_event.raw  %></td>
  </tr>
  <tr>
    <td><b>Time: </b></td>
    <td><%= @current_event.date_time %></td>
  </tr>
  <tr>
    <td><b>Accept: </b></td>
    <td><%= @current_event.accept%></td>
  </td>
  <tr>
    <td><b>Reject: </b></td>
    <td><%= @current_event.reject%></td>
  </tr>
  <tr>
    <td><b>Unconfirmed: </b></td>
    <td><%= @current_event.unconfirmed%></td>
  </tr>
  <tr>
    <td><b>Status: </b></td>
    <td><%= @current_event.status%></td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <%= form_tag({:controller => "e2gather", :action => "loginFacebook"}, :method=>"get") do %>
      <%= submit_tag "Home", :class => "btn btn-large btn-primary" %>
      <% end %>
    </td>
    <td>
      <%= form_tag({:controller => "users", :action => "update_invitation"}, :method=>"post") do %>
      <%= hidden_field_tag "e_id", @current_event.id %>
      <%= hidden_field_tag "option", 1 %>
      <%= submit_tag "Accept Invition", :class => "btn btn-large btn-primary" %>
      <% end %>
    </td>
    <td>
      <%= form_tag({:controller => "users", :action => "update_invitation"}, :method=>"post") do %>
      <%= hidden_field_tag "e_id", @current_event.id %>
      <%= hidden_field_tag "option", 0 %>
      <%= submit_tag "Reject Invition", :class => "btn btn-large btn-primary" %>
      <% end %>
    </td>
  </tr>
</table>
